 #btn_edit {
    width: 100px;
    background-color: rgb(3, 151, 82); 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 14px;
  } 

   #btn_delete {
    width: 100px;
    background-color: rgb(255, 0, 0); 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 14px;
    margin-left: 10px;
  } 

#btn_edit:hover {
  background-color: rgb(1, 65, 34);
}

#btn_delete:hover {
  background-color: rgb(145, 0, 0);
  border-color: rgb(145, 0, 0);
}